body {
	background: black;
	/*background: url(../images/960.gif) repeat-y 0 0;*/
	font-family: 'Metamorphous', cursive;
	color: #fff;
}

.five.columns p {text-align: right; padding: 10px 22px 0 0; margin: 40px 0 0 0; border-top: 1px solid #252525;}
.five.columns p.preorder-now {font-size: 17px; text-align: center; padding: 5px; margin: 0 0 20px 0; border:0; border-bottom: 1px solid #252525;}
.five.columns img {display: block;width: 280px; margin: 0 auto;}
blockquote cite.source a, .five.columns a, .sixteen.columns a { color: #777; text-decoration: none; font-style: normal; }
blockquote cite.source a:hover, .five.columns a:hover, .sixteen.columns a:hover { color: #901a12; }

h1, h2 {
	font-family: 'Metamorphous', cursive;
	text-transform: uppercase;
	color: #d81c01;
	text-align: center;
	font-size: 56px;
	letter-spacing: -1px;
	}
h1 {
	border-bottom: 1px solid #777;
	padding: 20px 0 9px 0;
	}
.wrapper {position: relative;}
.overlay { display: block;
	width: 744px;
	height: 100px;
	position: absolute; 
	top: 0;
	left: 0;
	background: url(../images/overlay.png) repeat-x 0 0; }

h1 {
	text-indent: -8000px;
	background: url(../images/torture-chamber-logo-2.gif) no-repeat center 10px;
	
	}

h2 {
	color: #d81c01;
	font-size: 36px;
	text-align: left;
	margin: 0 0 5px 0;
	}

h3 {
	color: #901a12;
	font-size: 18px;
	text-align: center;
	margin: 0;
	padding:0;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	}

h3.portfolio  {
	color: #d81c01;
	font-size: 30px;
	text-align: left;
	margin: 0 0 10px 0;
	padding:40px 0 10px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #901a12;
	}

h2.portfolio  {
	font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
	color: #d81c01;
	font-size: 40px;
	text-align: left;
	margin: 0 0 10px 0;
	padding:40px 0 10px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #901a12;
	}
	
hr.portfolio {
	color: #777;
	}
	
p {
	font-family: 'Neuton', serif;
	font-size: 21px;
	color: #777;
	line-height: 27px;
	}

.title p { display: none;}
.title a { color: red; }

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.footer {
	text-align: right;
	color: #ccc;
	font-size: 11px;
	}
	
blockquote {
	border-left: 0;
	border-bottom: 1px solid #777;
	margin-top: 9px;
	padding-bottom: 9px;
	font-size: 13px;
	}

blockquote cite.source {
		font-family: 'Neuton', serif;
		text-align: right;
		font-size: 18px;
		line-height: 18px;
		margin-top: 18px;
		display: block;
		}
